<!DOCTYPE html>
<html>
    <head>
        <title>Formulario de captura</title>
    </head>
    <body>
        <form action="/resultado" method="POST">
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre"><br>
            <label for="apellido">Apellido: </label>
            <input type="text" name="apellido"><br>
            <label for="telefono">Teléfono: </label>
            <input type="tel" name="telefono"><br>
            <label for="correo">Correo: </label>
            <input type="email" name="correo"><br>
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>